<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-header navbar-expand navbar-light" th:fragment="header">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class = "icons">
        <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
            <li class="dropdown nav-icon">
                <a href="#" data-bs-toggle="dropdown"
                   class="nav-link  dropdown-toggle nav-link-lg nav-link-user">

                </a>

            </li>

            <li class="dropdown">
                <a href="#" data-bs-toggle="dropdown"
                   class="nav-link dropdown-toggle nav-link-lg nav-link-user">

                    <div class="d-none d-md-block d-lg-inline-block">
                        <span th:text="${#authentication.name}"></span>
                    </div>
                    <img th:src="@{'data:image/png;base64,' + ${encodedImg}}" alt="User Image"
                         style="width: 60px; height: 60px; border-radius: 50%;"/>


                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" th:href="@{'/users/formForUpdateUser/' + ${#authentication.principal.id}}">
                        <i data-feather="user"></i>
                        <span th:text="#{header.profile}">Profile</span>
                    </a>
                    <a class="dropdown-item" href="/users/profile/change-password">
                        <i data-feather="lock"></i>
                        <span th:text="#{header.changePassword}">Change password</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">
                        <i data-feather="log-out"></i>
                        <span th:text="#{header.logout}">Log out</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    </div>
</nav>
</body>
</html>