<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>

<div id="sidebar" class='active' th:fragment="sidebar">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src="/images/img.png" alt="" srcset="">
        </div>
        <h4 style="font-family: 'Montserrat', sans-serif; color: white; font-weight: bold; position: relative; bottom: 10px; left: 20px;">
            RICHSTONE CARGO
        </h4>
        <div class="sidebar-menu">
            <ul class="menu">

                <li class="sidebar-item active ">
                    <a href="/" class='sidebar-link'>
                        <span th:text="#{sidebar.dashboard}">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <span th:text="#{sidebar.manage}">Управление водителями</span>
                    </a>

                    <ul class="submenu ">
                        <li>
                            <a th:href="@{/drivers/formForAddDriver}"  th:text="#{driverList.add}">Add driver</a>
                        </li>
                        <li>
                            <a th:href="@{/drivers/inactiveDrivers/1}" th:text="#{sidebar.inactiveDrivers}">Inactive Drivers</a>
                        </li>

                        <li>
                            <a th:href="@{/drivers/1}" th:text="#{sidebar.driversList}">Drivers list</a>
                        </li>
                        <li>
                            <a th:href="@{/drivers/deletedDrivers/1}" th:text="#{sidebar.driversArchive}">History of drivers</a>
                        </li>

                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <span th:text="#{sidebar.manageTrips}">Управление поездками</span>
                    </a>

                    <ul class="submenu ">
                        <li>
                            <a th:href="@{/trips/formForAddTrip}"  th:text="#{tripPage.add}">Add trip</a>
                        </li>
                        <li>
                            <a th:href="@{/locations/1}" th:text="#{sidebar.locations}">Locations</a>
                        </li>
                        <li>
                            <a th:href="@{/routes/1}" th:text="#{sidebar.routes}">Routes</a>
                        </li>
                        <li>
                            <a th:href="@{/trips/1}" th:text="#{sidebar.trips}">Trips</a>
                        </li>
                        <li>
                            <a th:href="@{/trips/activeTrips/1}" th:text="#{sidebar.activeTrips}">Active trips</a>
                        </li>
                        <li>
                            <a th:href="@{/trips/archive/1}" th:text="#{sidebar.finishedTrips}" >Finished trips</a>
                        </li>
                    </ul>

                </li>
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <span th:text="#{sidebar.other}">Остальное</span>
                    </a>

                    <ul class="submenu ">
                        <li>
                            <a th:href="@{/dispatchers/1}" sec:authorize="hasRole('ADMIN')" th:text="#{sidebar.dispatchers}">Dispatchers</a>
                        </li>

                        <li>
                            <a th:href="@{/topics/1}" th:text="#{sidebar.help}">Help</a>
                        </li>



                    </ul>

                </li>
                <li class="sidebar-item-lang-kz">
                    <a id="kz" class="translate" href="/?lang=kz">
                        <img src="/images/kz.svg" alt="" width="40px" height="30px">
                    </a>
                </li>

                <li class="sidebar-item-lang-ru">
                    <a id="ru" class="translate" href="/?lang=ru">
                        <img src="/images/ru.svg" alt="" width="40px" height="30px">
                    </a>
                </li>

                <li class="sidebar-item-lang-en">
                    <a id="en" class="translate" href="/?lang=en">
                        <img src="/images/gb.svg" alt="" width="40px" height="30px">
                    </a>
                </li>


            </ul>

        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>