<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{changePassword.title}">Change password page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>

<header th:replace="fragments/header::header"></header>
<div class="main-content container-fluid" layout:fragment="content">
    <section class="section">
        <div class="form-group row">
            <label for="newPasswordInput" class="col-sm-3 col-form-label" th:text="#{changePassword.newPassword}">Новый пароль:</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="newPasswordInput" name="newPassword" maxlength="20">
            </div>
        </div>
        <div class="form-group row">
            <label for="confirmPasswordInput" class="col-sm-3 col-form-label" th:text="#{changePassword.confirm}">Подтверждение пароля:</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="confirmPasswordInput" name="confirmPassword"
                       maxlength="20">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 offset-sm-3">
                <button type="button" class="btn btn-primary" onclick="changePassword()" th:text="#{changePassword.change}">Изменить пароль</button>
            </div>
        </div>


        <script>
            async function changePassword() {
                const newPassword = document.getElementById('newPasswordInput').value;
                const confirmPassword = document.getElementById('confirmPasswordInput').value;

                if (newPassword !== confirmPassword) {
                    alert('Пароль и подтверждение пароля не совпадают');
                    return;
                }

                const response = await fetch('/api/v1/users/password', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({
                        'newPassword': newPassword,
                        'confirmPassword': confirmPassword
                    })
                });

                if (response.ok) {
                    alert('Пароль успешно изменен');
                } else {
                    const errorMessage = await response.text();
                    alert('Ошибка при изменении пароля: ' + errorMessage);
                }
            }
        </script>

        <div class="col-12 mt-3">
            <a th:href="@{/}" class="btn btn-secondary" th:text="#{changePassword.back}" >Go back</a>
        </div>
    </section>
</div>
</body>

</html>
