<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h4, h4 {
            font-size: 1.35rem;
        }
        .table-responsive {
            overflow-x: auto;
        }
        .pagination-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        .pagination-container div {
            margin: 0 5px;
        }

    </style>
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">
    <div class="page-title">
        <h3 th:text="#{deletedDriversPage.title}" >History of drivers</h3>
    </div>
    <section class="section">

        <div class="container mt-3">
            <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th th:text="#{inactiveDrivers.username}" >Username</th>
                    <th th:text="#{inactiveDrivers.firstname}" >First Name</th>
                    <th th:text="#{inactiveDrivers.lastname}" >Last Name</th>
                    <th th:text="#{inactiveDrivers.email}" >Email</th>
                    <th th:text="#{inactiveDrivers.phone}" >Phone</th>
                    <th th:text="#{inactiveDrivers.role}" >Role</th>
                    <th th:text="#{inactiveDrivers.isActive}" >Is Active</th>
                    <th  th:text="#{inactiveDrivers.gender}">Gender</th>
                    <th  th:text="#{inactiveDrivers.birthDate}">Birth Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${drivers}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.firstname}"></td>
                    <td th:text="${user.lastname}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.isEnabled}"></td>
                    <td th:text="${user.gender}"></td>
                    <td th:text="${user.birthDate}"></td>
                    <td sec:authorize="hasRole('ADMIN')">

                        <form th:action="@{/drivers/delete(userId=${user.id})}" method="post">
                            <button type="submit" class="btn btn-warning btn-sm" style="margin-top: 5px; background-color: #071438;
        color: #fff;border-color: #ffffff" th:text="#{dispatchersList.remove}">Remove</button>
                        </form>
                    </td>
                    <td sec:authorize="hasRole('ADMIN')">

                        <form th:action="@{/drivers/undelete(userId=${user.id})}" method="post">
                            <button type="submit" class="btn btn-warning btn-sm" style="margin-top: 5px; background-color: #071438;
        color: #fff;border-color: #ffffff" th:text="#{deletedDriversPage.restore}">Remove</button>
                        </form>
                    </td>
                </tr>


                </tbody>
            </table>
            </div>
        </div>
    </section>
    <div th:if="${totalPages > 1}" class="pagination-container">
        <div>
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{'/drivers/deletedDrivers/' + ${i}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
        </div>
        <div>
            <a th:text="#{button.next}" th:if="${currentPage < totalPages}" th:href="@{'/drivers/deletedDrivers/' + ${currentPage + 1}}">Next</a>
            <span th:text="#{button.next}" th:unless="${currentPage < totalPages}">Next</span>
        </div>
        <div>
            <a th:text="#{button.last}" th:if="${currentPage < totalPages}" th:href="@{'/drivers/deletedDrivers/' + ${totalPages}}">Last</a>
            <span th:text="#{button.last}" th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>
</body>
</html>