<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">
    <div class="page-title">
        <h3 >History of drivers</h3>
    </div>
    <section class="section">

        <div class="container mt-3">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th th:text="#{inactiveDrivers.username}" >Username</th>
                    <th th:text="#{inactiveDrivers.firstname}" >First Name</th>
                    <th th:text="#{inactiveDrivers.lastname}" >Last Name</th>
                    <th th:text="#{inactiveDrivers.email}" >Email</th>
                    <th th:text="#{inactiveDrivers.phone}" >Phone</th>
                    <th th:text="#{inactiveDrivers.role}" >Role</th>
                    <th th:text="#{inactiveDrivers.isActive}" >Is Active</th>
                    <th  >Gender</th>
                    <th  >Birth Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${drivers}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.firstname}"></td>
                    <td th:text="${user.lastname}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.isEnabled}"></td>
                    <td th:text="${user.gender}"></td>
                    <td th:text="${user.birthDate}"></td>
                    <td sec:authorize="hasRole('ADMIN')">

                        <form th:action="@{/drivers/undelete(userId=${user.id})}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm" style="margin-top: 5px;" th:text="#{dispatchersList.remove}">Remove</button>
                        </form>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
</html>