<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FAQ page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">

    <section class="section">
        <div class="container mt-3">
            <h3 th:text="#{topicList.title}">Help</h3>
            <a th:href="@{/topics/formForAddTopic}" class="btn btn-primary mb-2"
               sec:authorize="hasAnyRole('ADMIN', 'DISPATCHER')" th:text="#{topicList.add}">Add topic</a>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th th:text="#{topicList.name}">Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="topic : ${topics}">
                    <td>
                        <a th:href="@{'topics/'+ ${topic.id} + '/questions'}" th:text="${topic.name}"></a>
                        <form th:action="@{/topics/delete(topicId=${topic.id})}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                        </form>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
</html>