<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{tripPage.title}">Trips </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .h4, h4 {
            font-size: 1.35rem;
        }
        .pagination-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        .pagination-container div {
            margin: 0 5px;
        }
    </style>
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">

    <section class="section">
        <div class="container mt-3">
            <h3>  Trips archive</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th th:text="#{tripPage.route}">Route</th>
                    <th th:text="#{tripPage.departureTime}">Departure Time</th>
                    <th th:text="#{tripPage.arrivalTime}">Arrival Time</th>
                    <th th:text="#{tripPage.tripStatus}">Trip Status</th>
                    <th th:text="#{tripPage.driver}">Assigned Driver</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="trip : ${trips}">
                    <td th:text="${trip.route.name}"></td>
                    <td th:text="${trip.departureTime}"></td>
                    <td th:text="${trip.arrivalTime}"></td>
                    <td th:text="${trip.tripStatus}"></td>
                    <td th:text="${trip.assignedDriver != null ? (trip.assignedDriver.getUser().firstname + ' ' + trip.assignedDriver.getUser().lastname) : 'N/A'}"></td>

                </tr>
                </tbody>
            </table>

        </div>
    </section>
    <div th:if="${totalPages > 1}" class="pagination-container">
        <div>
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{'/drivers/deletedDrivers/' + ${i}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
        </div>
        <div>
            <a th:text="#{button.next}" th:if="${currentPage < totalPages}" th:href="@{'/drivers/deletedDrivers/' + ${currentPage + 1}}">Next</a>
            <span th:text="#{button.next}" th:unless="${currentPage < totalPages}">Next</span>
        </div>
        <div>
            <a th:text="#{button.last}" th:if="${currentPage < totalPages}" th:href="@{'/drivers/deletedDrivers/' + ${totalPages}}">Last</a>
            <span th:text="#{button.last}" th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>
</body>
</html>