<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{tripUpdateForm.title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>

<header th:replace="fragments/header::header"></header>
<div class="main-content container-fluid" layout:fragment="content">
    <section class="section">

        <form action="/trips/update" method="post" th:object="${tripCargoForm}" class="row g-3">
            <input type="hidden" th:field="*{trip.id}" class="form-control">
            <input type="hidden" name="oldDepartureTime" th:value="${tripCargoForm.trip.departureTime}">
            <input type="hidden" name="oldArrivalTime" th:value="${tripCargoForm.trip.arrivalTime}">
            <input type="hidden" name="assignedDriver" th:value="${tripCargoForm.trip.assignedDriver != null ? tripCargoForm.trip.assignedDriver.id : ''}">
            <input type="hidden" name="routes" th:value="${tripCargoForm.trip.route != null ? tripCargoForm.trip.route.id : ''}">
            <input type="hidden" name="tripStatus" th:value="${tripCargoForm.trip.tripStatus}">
            <input type="hidden" name="cargo.id" th:value="${tripCargoForm.cargo.id != null ? tripCargoForm.cargo.id : ''}">

            <div class="col-md-6">
                <label for="routes" class="form-label" th:text="#{tripUpdateForm.routes}">Routes:</label>
                <select id="routes" name="trip.route" class="form-select">
                    <option th:each="route : ${routes}"
                            th:value="${route.id}"
                            th:text="${route.name}"
                            th:selected="${tripCargoForm.trip.route != null and tripCargoForm.trip.route.id == route.id}">
                    </option>
                </select>
            </div>


            <div class="col-md-6">
                <label for="departureTime" class="form-label" th:text="#{tripUpdateForm.departureTime}">Departure time</label>
                <input type="datetime-local" id="departureTime" name="trip.departureTime" th:value="${tripCargoForm.trip.departureTime}" class="form-control">
            </div>

            <div class="col-md-6">
                <label for="arrivalTime" class="form-label" th:text="#{tripUpdateForm.arrivalTime}">Arrival Time:</label>
                <input type="datetime-local" id="arrivalTime" name="trip.arrivalTime" th:value="${tripCargoForm.trip.arrivalTime}" class="form-control">
            </div>

            <div class="col-md-6">
                <label for="drivers" class="form-label" th:text="#{tripUpdateForm.driver}">Drivers:</label>
                <select id="drivers" name="trip.assignedDriver" class="form-select">
                    <option th:each="driver : ${drivers}"
                            th:value="${driver.id}"
                            th:text="${driver.user.firstname} + ' ' + ${driver.user.lastname}"
                            th:selected="${tripCargoForm.trip.assignedDriver != null and tripCargoForm.trip.assignedDriver.id == driver.id}">
                    </option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="tripStatus" class="form-label" th:text="#{tripUpdateForm.tripStatus}">Trip Status:</label>
                <select id="tripStatus" name="trip.tripStatus" class="form-select">
                    <option th:each="status : ${T(com.richstone.cargo.model.types.TripStatus).values()}"
                            th:value="${status}"
                            th:text="${status}"
                            th:selected="${tripCargoForm.trip.tripStatus == status}">
                    </option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="cargoName" class="form-label">Cargo Name:</label>
                <input type="text" id="cargoName" name="cargo.name" th:field="*{cargo.name}" class="form-control">
            </div>

            <div class="col-md-6">
                <label for="cargoDescription" class="form-label">Cargo Description:</label>
                <input type="text" id="cargoDescription" name="cargo.description" th:field="*{cargo.description}" class="form-control">
            </div>

            <div class="col-md-6">
                <label for="cargoWeight" class="form-label">Cargo Weight:</label>
                <input type="number" id="cargoWeight" name="cargo.weight" th:field="*{cargo.weight}" class="form-control">
            </div>

            <div class="col-md-6">
                <label for="numberOfPallets" class="form-label">Number of Pallets:</label>
                <input type="number" id="numberOfPallets" name="cargo.numberOfPallets" th:field="*{cargo.numberOfPallets}" class="form-control">
            </div>

            <div class="col-md-6">
                <label for="cargoTemperature" class="form-label">Cargo Temperature:</label>
                <input type="number" id="cargoTemperature" name="cargo.temperature" th:field="*{cargo.temperature}" class="form-control">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-success" th:text="#{tripUpdateForm.save}">Save</button>
            </div>
        </form>

        <div class="col-12 mt-3">
            <a th:href="@{/trips/1}" class="btn btn-secondary" th:text="#{tripUpdateForm.back}">Go back</a>
        </div>
    </section>
</div>
</body>
</html>
